<div class="container flex flex-row justify-center items-center">
    <div class="images-section hidden lg:block pt-3"></div>
        <div class="login-section pt-2">
          <div class="card text-center pt-5 ">
            <%= image_tag 'logo.png', class: "card-img-top" %>
              <div class="mb-2 mt-4 items-center py-8 w-72">
                  <form class="mt-8 w-64 flex flex-col">
                      <input autofocus
                            class="text-xs w-full mb-2 rounded border bg-gray-100 border-gray-300 px-2 py-2 focus:outline-none focus:border-gray-400 active:outline-none"
                            id="email" placeholder="Phone number, username, or email" type="text">
                      <input autofocus
                            class="text-xs w-full mb-4 rounded border bg-gray-100 border-gray-300 px-2 py-2 focus:outline-none focus:border-gray-400 active:outline-none"
                            id="password" placeholder="Password" type="password">
                      <a href="#" class=" text-sm text-center bg-blue-300 text-white py-1 rounded font-medium">
                          Log In
                      </a>
                  </form>
                  <div class="flex justify-evenly space-x-2 w-64 mt-4">
                      <span class="bg-gray-300 h-px flex-grow t-2 relative top-2"></span>
                      <span class="flex-none uppercase text-xs text-gray-400 font-semibold">or</span>
                      <span class="bg-gray-300 h-px flex-grow t-2 relative top-2"></span>
                  </div>
                  <button class="mt-4 flex-center">
                    <div class="bg-no-repeat facebook-logo mr-1">
                      <%= image_tag "facebook.png", alt: 'FB Logo', class: 'facebook' %>
                    </div>          
                      <span class="text-xs text-blue-900 font-semibold">Log in with Facebook</span>
                  </button>
                <a href="#" class="text-xs text-blue-900 mt-4 cursor-pointer -mb-4">Forgot password?</a>           
              </div>

          </div>

          <div class="card text-center py-3 mt-2 w-72">
            <span class="text-sm">
              Don't have an account? 
              <a href="#" class="text-sm my-4 text-blue-500 font-semibold"> Sign up</a>
            </div>
          </div>

    </div>
</div>

<div class="container bg-gray-50 flex flex-row justify-center items-center">
  <div class="images-section hidden lg:block pt-3"></div>
    <div class="login-section pt-2">
        <div class="bg-white border border-gray-300 w-80 py-8 flex items-center flex-col mb-3">
            <h1 class="bg-no-repeat instagram-logo"></h1>
            <form class="mt-8 w-64 flex flex-col">
                <input autofocus
                      class="text-xs w-full mb-2 rounded border bg-gray-100 border-gray-300 px-2 py-2 focus:outline-none focus:border-gray-400 active:outline-none"
                      id="email" placeholder="Phone number, username, or email" type="text">
                <input autofocus
                      class="text-xs w-full mb-4 rounded border bg-gray-100 border-gray-300 px-2 py-2 focus:outline-none focus:border-gray-400 active:outline-none"
                      id="password" placeholder="Password" type="password">
                <a href="#" class=" text-sm text-center bg-blue-300 text-white py-1 rounded font-medium">
                    Log In
                </a>
            </form>
            <div class="flex justify-evenly space-x-2 w-64 mt-4">
                <span class="bg-gray-300 h-px flex-grow t-2 relative top-2"></span>
                <span class="flex-none uppercase text-xs text-gray-400 font-semibold">or</span>
                <span class="bg-gray-300 h-px flex-grow t-2 relative top-2"></span>
            </div>
            <button class="mt-4 flex">
                <%= image_tag("facebook.png", class: "facebook") %>
                <span class="text-xs text-blue-900 font-semibold">Log in with Facebook</span>
            </button>
            <a href="#" class="text-xs text-blue-900 mt-4 cursor-pointer -mb-4">Forgot password?</a>
        </div>
        <div class="bg-white border border-gray-300 text-center w-80 py-4">
            <span class="text-sm">Don't have an account?</span>
            <a class="text-blue-500 text-sm font-semibold">Sign up</a>
        </div>

    </div>
  </div>
</div>
