<div class="float-right right w-4/12 h-screen overflow-visible h-full">
  <div class="first absolute pl-4 w-full" style="top:85px;  max-width: 293px;">
    <div class="profile flex items-center p-3 mb-4">

    <%= render 'suggestions/suggestion' %>
    </div>
  </div>
</div>
